torch
torchaudio
transformers==4.51.3
onnx
onnxruntime
librosa
soundfile
matplotlib
gradio
fastapi
uvicorn
gdown
wget
rich
pydantic
networkx
omegaconf
hydra-core
inflect
pyworld
diffusers
openai-whisper
modelscope
wetext
psutil
hyperpyyaml
conformer
einops
lightning
pyarrow
peft
funasr
#matcha-tts