kokoro>=0.1.0
numpy>=1.21.0,<2.0.0
misaki>=0.1.0
gradio>=4.0.0
#torch>=2.0.0 (with CUDA support)
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
modelscope>=1.0.0
psutil==7.0.0
ordered-set==4.1.0
pypinyin==0.55.0
cn2an==0.5.23
jieba==0.42.1
soundfile==0.13.1
en-core-web-sm==3.8.0